.navbar {
  display: flex;
  justify-content: space-between;
  background: var(--highlight);
  color: var(--white);
  padding: 1rem;
}

.logo {
  font-size: 2rem;
  font-style: italic;
}

#logout {
  padding: 0 1rem;
  list-style: none;
}

#logoutRef {
  font-style: italic;
}

#logout a {
  text-decoration: none;
  color: #f4f4f4;
  transition: color 0.5s ease;
}

#logout a:hover {
  color: #333;
}

#userName {
  font-size: 1.5rem;
}

.logoSpan {
  font-style: italic;
  font-weight: bold;
}

.navbar h1 {
  font-size: 3rem;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar ul .li {
  margin: 0 1rem;
  color: var(--black);
  text-decoration: none;
  transition: color 0.5s ease;
  font-style: italic;
  font-size: 1.5rem;
  color: var(--white);
}

.navbar ul .li:hover {
  color: var(--second);
}
