.formField {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  padding: 0.4rem;
}

.formField:focus {
  outline: none;
}

.formSubmitBtn {
  display: block;
  width: 100%;
  background: var(--black);
  padding: 0.5rem;
  color: var(--white);
  font-size: 1.5rem;
  margin-top: 1rem;
  transition: background 0.5s ease;
}

.formSubmitBtn:hover {
  cursor: pointer;
  background: var(--highlight);
}

.clearBtn {
  background: red;
  margin-top: 0.5rem;
  padding: 0.7rem;
  font-size: 1.5rem;
  text-align: center;
  color: var(--white);
  background: var(--highlight);
  transition: background 0.5s ease;
}

.clearBtn:hover {
  cursor: pointer;
  background: rgba(255, 0, 0);
}

@media (max-width: 500px) {
  .formField {
    margin: 2rem 0;
    border: 1px solid var(--black);
  }
}
